appdirs==1.4.4
asgiref==3.3.1
certifi==2020.12.5
cfgv==3.2.0
chardet==4.0.0
coreapi==2.3.3
coreschema==0.0.4
distlib==0.3.1
Django==3.1.4
django-filter==2.4.0
django-rest-swagger==2.2.0
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
drf-yasg==1.20.0
filelock==3.0.12
gunicorn==20.0.4
identify==1.5.10
idna==2.10
inflection==0.5.1
itypes==1.2.0
Jinja2==2.11.2
MarkupSafe==1.1.1
nodeenv==1.5.0
openapi-codec==1.3.2
packaging==20.8
pre-commit==2.9.3
psycopg2-binary==2.8.6
PyJWT==1.7.1
pyparsing==2.4.7
pytz==2020.4
PyYAML==5.3.1
requests==2.25.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
simplejson==3.17.2
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
uritemplate==3.0.1
urllib3==1.26.2
virtualenv==20.2.2
