appdirs==1.4.4
asgiref==3.3.1
cfgv==3.2.0
distlib==0.3.1
Django==3.1.4
django-filter==2.4.0
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
filelock==3.0.12
gunicorn==20.0.4
identify==1.5.10
nodeenv==1.5.0
pre-commit==2.9.3
psycopg2-binary==2.8.6
PyJWT==1.7.1
pytz==2020.4
PyYAML==5.3.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
virtualenv==20.2.2
